<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>REST-API Documentation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/static/main.css}"
	href="../static/main.css" />

</head>
<body>
<h1>AllRounders REST API Documentation</h1>

<div class="divTable">
<div class="divTableBody">
<div class="divTableRow">Note, ALL request must have following header key-value pair
</div>

<div class="divTableRow">
<div class="divTableCell"><b>Key</b></div>
<div class="divTableCell"><b>Value</b></div>
</div>
<div class="divTableRow">
<div class="divTableCell">Secret</div>
<div class="divTableCell">B55AF471FFE583FEB96EF0788EBF9FCBA678592F70CB8508F5D43ED64A1C0E90B598C627389A913776EEE1AFEFEDE85AB82CB8AD46DF7AE3CE24072196738A9B</div>
</div>
</div>
</div>
<pre>

</pre>
<div class="divTable" style="border: 1px solid #000;" >
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableCell"><b>Method</b></div>
<div class="divTableCell"><b>URL</b></div>
<div class="divTableCell"><b>Example</b></div>
<div class="divTableCell"><b>HTTP Response</b></div>
<div class="divTableCell"><b>Error</b></div>
<div class="divTableCell"><b>Description</b></div>
</div>
<div class="divTableRow">
<div class="divTableCell"><b>GET</b></div>
<div class="divTableCell">/top</div>
<div class="divTableCell">JSON-Object with top 7 drivers, best single run, workdays and AVG efficiency <pre>  {
    "name": "Janne Hasa",
    "eff": 12,
    "date": "24-04-2017",
    "route": "FIVAN000",
    "work_days": 27,
    "avg_eff": 6.843075588330984
  }</pre></div>
<div class="divTableCell">200 OK</div>
<div class="divTableCell">Empty Body OR HTTP Status 401 Unauthorized</div>
<div class="divTableCell">Returns TOP 7 drivers best runs (Both Vantaa + Helsinki)</div>
</div>
<div class="divTableRow">
<div class="divTableCell"><b>GET</b></div>
<div class="divTableCell">/topvan</div>
<div class="divTableCell">JSON-Object with top 7 drivers in Vantaa, best single run, workdays and AVG efficiency  <pre>  {
    "name": "Ville Kokkonen",
    "eff": 11.09,
    "date": "02-05-2017",
    "route": "FIHEL004",
    "work_days": 50,
    "avg_eff": 8.371098324761956
  }</pre></div>
<div class="divTableCell">200 OK</div>
<div class="divTableCell">Empty Body OR HTTP Status 401 Unauthorized</div>
<div class="divTableCell">Returns TOP 7 drivers best runs in Vantaa</div>
</div>
<div class="divTableRow">
<div class="divTableCell"><b>GET</b></div>
<div class="divTableCell">/tophel</div>
<div class="divTableCell">JSON-Object with top 7 drivers in Helsinki, best single run , workdays and AVG efficiency  <pre>  {
    "name": "Janne Hasa",
    "eff": 12,
    "date": "24-04-2017",
    "route": "FIVAN000",
    "work_days": 27,
    "avg_eff": 6.843075588330984
  }</pre></div>
<div class="divTableCell">200 OK</div>
<div class="divTableCell">Empty Body OR HTTP Status 401 Unauthorized</div>
<div class="divTableCell">Returns TOP 7 drivers best runs in Helsinki</div>
</div>
<div class="divTableRow">
<div class="divTableCell"><b>GET</b></div>
<div class="divTableCell">/avg/{driverName}</div>
<div class="divTableCell">JSON-Object with Driver name, avg efficiency and workdays.<pre>  {
    "name": "Antti Viirna",
    "eff": 8.262184276058344,
    "date": null,
    "route": null,
    "work_days": 37,
    "avg_eff": 8.262184276058344
  }</pre></div>
<div class="divTableCell">200 OK</div>
<div class="divTableCell">Empty AVG JSON-Object OR HTTP Status 401 Unauthorized</div>
<div class="divTableCell">Returns drivers efficiency from past calendar month</div>
</div>
<div class="divTableRow">
<div class="divTableCell"><b>GET</b></div>
<div class="divTableCell">/listall</div>
<div class="divTableCell">Returns all google sheets data as JSON-Object</div>
<div class="divTableCell">200 OK</div>
<div class="divTableCell">Empty Body OR HTTP Status 401 Unauthorized</div>
<div class="divTableCell">Returns all google sheets data</div>
</div>
<div class="divTableRow">
<div class="divTableCell"><b>POST</b></div>
<div class="divTableCell">/insert</div>
<div class="divTableCell">Inserts a row to Google Sheets, formed on the basis of given object. Example: <pre>{
  "timeStamp" : "3/1/2017 11:55:24",
  "kuljettaja" : "Oskari",
  "auto" : "BSS-555",
  "aloitusKm" : 61000,
  "aloitusAika" : "12:00:00",
  "lopetusAika" : "19:30:00",
  "tauot" : "0:00:00",
  "lopetusKm" : 62000,
  "reitti" : "FIHEL010",
  "pJaot" : 20,
  "pNoudot" : 8,
  "pUnknown" : 0,
  "bJaot" : 11,
  "bNoudot" : 0,
  "bDhl" : 0,
  "iKollit" : 0,
  "iStopit" : 0,
  "lisatiedot" : "Testi"	
}</pre></div>
<div class="divTableCell">200 OK</div>
<div class="divTableCell">Empty Body OR HTTP Status 401 Unauthorized</div>
<div class="divTableCell">Inserts the given object as a row to the Sheet (at the moment, to the offline Sheet)</div>
</div>
<div class="divTableRow">
<div class="divTableCell"><b>GET</b></div>
<div class="divTableCell">/deliveries</div>
<div class="divTableCell">Returns all google sheets delivery data as JSON-Object<pre>{
  "postnord_total": 795,
  "postnord_pickups": 112,
  "postnord_deliveries": 673,
  "postnord_unknown": 15,
  "bring_deliveries": 150,
  "bring_total": 192,
  "bring_pickups": 31,
  "dhl_returns": 13,
  "innight_deliveries": 318,
  "innight_stops": 109,
  "total": 1305,
  "total_pickups": 143
}</pre></div>
<div class="divTableCell">200 OK</div>
<div class="divTableCell">Empty Body OR HTTP Status 401 Unauthorized</div>
<div class="divTableCell">Returns delivery count for all delivery types</div>
</div>
<div class="divTableRow">
<div class="divTableCell"><b>PUT</b></div>
<div class="divTableCell">/motd/{message}</div>
<div class="divTableCell">Updates message of the day, {message} is path variable.<pre>{
  "message": "new message of the day",
  "last_updated": "4/18/2017 14:43:34"
}</pre> </div>
<div class="divTableCell">200 OK</div>
<div class="divTableCell">401 Unauthorized or 400 Bad request</div>
<div class="divTableCell">Updates message of the day</div>
</div>
</div>
<div class="divTableRow">
<div class="divTableCell"><b>GET</b></div>
<div class="divTableCell">/motd</div>
<div class="divTableCell">Fetches message of the day<pre>{
  "message": "new message of the day",
  "last_updated": "4/18/2017 14:43:34"
}</pre> </div>
<div class="divTableCell">200 OK</div>
<div class="divTableCell">401 Unauthorized or 400 Bad request</div>
<div class="divTableCell">Returns message of the day and when it was last updated</div>
</div>

<div class="divTableRow">
<div class="divTableCell"><b>GET</b></div>
<div class="divTableCell">/sakko</div>
<div class="divTableCell">Fetch current Sakko count <pre>{
  "sakko_count": "1"
}</pre></div>
<div class="divTableCell">200 OK</div>
<div class="divTableCell">401 Unauthorized or 400 Bad request</div>
<div class="divTableCell">Gets current Sakko_count</div>
</div>

<div class="divTableRow">
<div class="divTableCell"><b>PUT</b></div>
<div class="divTableCell">/sakko</div>
<div class="divTableCell">Add +1 to current sakko_count<pre>{
  "sakko_count": "2"
}</pre></div>
<div class="divTableCell">200 OK</div>
<div class="divTableCell">401 Unauthorized or 400 Bad request</div>
<div class="divTableCell">Add one sakko to counter</div>
</div>

<div class="divTableRow">
<div class="divTableCell"><b>DELETE</b></div>
<div class="divTableCell">/sakko</div>
<div class="divTableCell">Reset sakko counter <pre>{
  "sakko_count": "0"
}</pre></div>
<div class="divTableCell">200 OK</div>
<div class="divTableCell">401 Unauthorized or 400 Bad request</div>
<div class="divTableCell">Reset sakko counter</div>
</div>

<div class="divTableRow">
<div class="divTableCell"><b>PUT</b></div>
<div class="divTableCell">/sakkothreshold/{value}</div>
<div class="divTableCell">Set sakko threshold value, returns new sakko count</div>
<div class="divTableCell">200 OK</div>
<div class="divTableCell">401 Unauthorized or 400 Bad request</div>
<div class="divTableCell">Set sakko threshold value</div>
</div>

<div class="divTableRow">
<div class="divTableCell"><b>GET</b></div>
<div class="divTableCell">/info</div>
<div class="divTableCell">Displays application info<pre>{
  "motd": {
    "updated": "4/24/2017 13:05:15",
    "message": "testing testing."
  },
  "sakko": {
    "threshold": "666"
  },
  "app": {
    "version": "1.0.0",
    "name": "AllRounders REST"
  }
}</pre></div>
<div class="divTableCell">200 OK</div>
<div class="divTableCell">401 Unauthorized or 400 Bad request</div>
<div class="divTableCell">Displays application info</div>
</div>



</div>

<br/>
<h1>Server debug REST API documentation, calls marked with striketrough text are not used in production environment!</h1>
<div class="divTable" style="border: 1px solid #000;" >
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableCell"><b>Method</b></div>
<div class="divTableCell"><b>URL</b></div>
<div class="divTableCell"><b>Example</b></div>
<div class="divTableCell"><b>Error</b></div>
<div class="divTableCell"><b>Description</b></div>
</div>


<div class="divTableRow">
<div class="divTableCell"><b>GET</b></div>
<div class="divTableCell">/debug/health</div>
<div class="divTableCell">Returns server health<pre>{ "status": "UP" }</pre></div>
<div class="divTableCell">Server is on fire, send help <pre>{ "status": "DOWN" }</pre></div>
<div class="divTableCell">Displays server Health</div>
</div>

<div class="divTableRow">
<div class="divTableCell"><b><del>GET</del></b></div>
<div class="divTableCell"><del>/debug/trace</del></div>
<div class="divTableCell"><del>JSON object table with last 100 HTTP requests</del></div>
<div class="divTableCell"><del>Not applicable here</del></div>
<div class="divTableCell"><del>Displays last 100 HTTP request (Limit can be raised if needed for debugging purposes)</del></div>
</div>

<div class="divTableRow">
<div class="divTableCell"><b><del>GET</del></b></div>
<div class="divTableCell"><del>/debug/mappings</del></div>
<div class="divTableCell"><del>JSON List of server endpoints</del></div>
<div class="divTableCell"><del>Not applicable here</del></div>
<div class="divTableCell"><del>List all server endpoints</del></div>
</div>

<div class="divTableRow">
<div class="divTableCell"><b><del>GET</del></b></div>
<div class="divTableCell"><del>/debug/metrics</del></div>
<div class="divTableCell"><del>JSON Object of server metrics</del></div>
<div class="divTableCell"><del>Not applicable here</del></div>
<div class="divTableCell"><del>Display server metrics</del></div>
</div>

<div class="divTableRow">
<div class="divTableCell"><b><del>GET</del></b></div>
<div class="divTableCell"><del>/debug/logfile</del></div>
<div class="divTableCell"><del>Dump of server logs</del></div>
<div class="divTableCell"><del>Not applicable here</del></div>
<div class="divTableCell"><del>Display server logs</del></div>
</div>

<div class="divTableRow">
<div class="divTableCell"><b>GET</b></div>
<div class="divTableCell">/debug/info</div>
<div class="divTableCell"><pre>{
  "sakko": {
    "threshold": "666"
  },
  "motd": {
    "message": "Message of day....",
    "updated": ""
  },
  "app": {
    "version": "1.0.0",
    "name": "AllRounders REST"
  }
}</pre></div>
<div class="divTableCell">Not applicable here</div>
<div class="divTableCell">Display application info and version</div>
</div>
</div>
</div>


</body>
</html>

