<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>REST-API Documentation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/static/main.css}"
	href="../static/main.css" />

</head>
<body>

<div class="divTable" style="border: 1px solid #000;" >
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableCell"><b>Method</b></div>
<div class="divTableCell"><b>URL</b></div>
<div class="divTableCell"><b>Example</b></div>
<div class="divTableCell"><b>HTTP Response</b></div>
<div class="divTableCell"><b>Error</b></div>
<div class="divTableCell"><b>Description</b></div>
</div>
<div class="divTableRow">
<div class="divTableCell">GET</div>
<div class="divTableCell">/top</div>
<div class="divTableCell">JSON-Object with top 7 drivers { name: "name", eff: 0.00, date: "01-01-1970" }</div>
<div class="divTableCell">200 OK</div>
<div class="divTableCell">Empty Body</div>
<div class="divTableCell">Returns TOP 7 drivers best runs (Both Vantaa + Helsinki)</div>
</div>
<div class="divTableRow">
<div class="divTableCell">GET</div>
<div class="divTableCell">/topvan</div>
<div class="divTableCell">JSON-Object with top 7 drivers in Vantaa { name: "name", eff: 0.00, date: "01-01-1970" }</div>
<div class="divTableCell">200 OK</div>
<div class="divTableCell">Empty Body</div>
<div class="divTableCell">Returns TOP 7 drivers best runs in Vantaa</div>
</div>
<div class="divTableRow">
<div class="divTableCell">GET</div>
<div class="divTableCell">/tophel</div>
<div class="divTableCell">JSON-Object with top 7 drivers in Helsinki { name: "name", eff: 0.00, date: "01-01-1970" }</div>
<div class="divTableCell">200 OK</div>
<div class="divTableCell">Empty Body</div>
<div class="divTableCell">Returns TOP 7 drivers best runs in Helsinki</div>
</div>
<div class="divTableRow">
<div class="divTableCell">GET</div>
<div class="divTableCell">/avg/{driverName}</div>
<div class="divTableCell">JSON-Object with Driver name, eff and date. </div>
<div class="divTableCell">200 OK</div>
<div class="divTableCell">Empty AVG JSON-Object</div>
<div class="divTableCell">Returns drivers effiency from past month</div>
</div>
<div class="divTableRow">
<div class="divTableCell">GET</div>
<div class="divTableCell">/listall</div>
<div class="divTableCell">Returns all google sheets data as JSON-Object</div>
<div class="divTableCell">200 OK</div>
<div class="divTableCell">Empty Body</div>
<div class="divTableCell">Returns all google sheets data</div>
</div>
</div>
</div>
<!-- DivTable.com -->

</body>
</html>

