<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>REST-API Documentation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/static/main.css}"
	href="../static/main.css" />

</head>
<body>
<h1>AllRounders REST API Documentation</h1>

<div class="divTable">
<div class="divTableBody">
<div class="divTableRow">Note, ALL request must have following header key-value pair
</div>

<div class="divTableRow">
<div class="divTableCell"><b>Key</b></div>
<div class="divTableCell"><b>Value</b></div>
</div>
<div class="divTableRow">
<div class="divTableCell">Secret</div>
<div class="divTableCell">B55AF471FFE583FEB96EF0788EBF9FCBA678592F70CB8508F5D43ED64A1C0E90B598C627389A913776EEE1AFEFEDE85AB82CB8AD46DF7AE3CE24072196738A9B</div>
</div>
</div>
</div>
<pre>

</pre>
<div class="divTable" style="border: 1px solid #000;" >
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableCell"><b>Method</b></div>
<div class="divTableCell"><b>URL</b></div>
<div class="divTableCell"><b>Example</b></div>
<div class="divTableCell"><b>HTTP Response</b></div>
<div class="divTableCell"><b>Error</b></div>
<div class="divTableCell"><b>Description</b></div>
</div>
<div class="divTableRow">
<div class="divTableCell">GET</div>
<div class="divTableCell">/top</div>
<div class="divTableCell">JSON-Object with top 7 drivers <pre>{ name: "name", eff: 0.00, date: "01-01-1970" }</pre></div>
<div class="divTableCell">200 OK</div>
<div class="divTableCell">Empty Body OR HTTP Status 401 Unauthorized</div>
<div class="divTableCell">Returns TOP 7 drivers best runs (Both Vantaa + Helsinki)</div>
</div>
<div class="divTableRow">
<div class="divTableCell">GET</div>
<div class="divTableCell">/topvan</div>
<div class="divTableCell">JSON-Object with top 7 drivers in Vantaa <pre>{ name: "name", eff: 0.00, date: "01-01-1970" }</pre></div>
<div class="divTableCell">200 OK</div>
<div class="divTableCell">Empty Body OR HTTP Status 401 Unauthorized</div>
<div class="divTableCell">Returns TOP 7 drivers best runs in Vantaa</div>
</div>
<div class="divTableRow">
<div class="divTableCell">GET</div>
<div class="divTableCell">/tophel</div>
<div class="divTableCell">JSON-Object with top 7 drivers in Helsinki <pre>{ name: "name", eff: 0.00, date: "01-01-1970" }</pre></div>
<div class="divTableCell">200 OK</div>
<div class="divTableCell">Empty Body OR HTTP Status 401 Unauthorized</div>
<div class="divTableCell">Returns TOP 7 drivers best runs in Helsinki</div>
</div>
<div class="divTableRow">
<div class="divTableCell">GET</div>
<div class="divTableCell">/avg/{driverName}</div>
<div class="divTableCell">JSON-Object with Driver name, eff and date.<pre>{ "name": "miikka", "eff": 6.223145230592952, "date": null }</pre></div>
<div class="divTableCell">200 OK</div>
<div class="divTableCell">Empty AVG JSON-Object OR HTTP Status 401 Unauthorized</div>
<div class="divTableCell">Returns drivers effiency from past month</div>
</div>
<div class="divTableRow">
<div class="divTableCell">GET</div>
<div class="divTableCell">/listall</div>
<div class="divTableCell">Returns all google sheets data as JSON-Object</div>
<div class="divTableCell">200 OK</div>
<div class="divTableCell">Empty Body OR HTTP Status 401 Unauthorized</div>
<div class="divTableCell">Returns all google sheets data</div>
</div>
<div class="divTableRow">
<div class="divTableCell">POST</div>
<div class="divTableCell">/insert</div>
<div class="divTableCell">Inserts a row to Google Sheets, formed on the basis of given object. Example: <pre>{
  "timeStamp" : "3/1/2017 11:55:24",
  "kuljettaja" : "Oskari",
  "auto" : "BSS-555",
  "aloitusKm" : 61000,
  "aloitusAika" : "12:00:00",
  "lopetusAika" : "19:30:00",
  "tauot" : "0:00:00",
  "lopetusKm" : 62000,
  "reitti" : "FIHEL010",
  "pJaot" : 20,
  "pNoudot" : 8,
  "pUnknown" : 0,
  "pYhteensa" : 28,
  "bJaot" : 11,
  "bNoudot" : 0,
  "bDhl" : 0,
  "bYhteensa" : 11,
  "iKollit" : 0,
  "iStopit" : 0,
  "lisatiedot" : "Testi"	
}</pre></div>
<div class="divTableCell">200 OK</div>
<div class="divTableCell">Empty Body OR HTTP Status 401 Unauthorized</div>
<div class="divTableCell">Inserts the given object as a row to the Sheet (at the moment, to the offline Sheet)</div>
</div>
<div class="divTableRow">
<div class="divTableCell">GET</div>
<div class="divTableCell">/deliveries</div>
<div class="divTableCell">Returns all google sheets delivery data as JSON-Object<pre>{
  "postnord_total": 795,
  "postnord_pickups": 112,
  "postnord_deliveries": 673,
  "postnord_unknown": 15,
  "bring_deliveries": 150,
  "bring_total": 192,
  "bring_pickups": 31,
  "dhl_returns": 13,
  "innight_deliveries": 318,
  "innight_stops": 109,
  "total": 1305,
  "total_pickups": 143
}</pre></div>
<div class="divTableCell">200 OK</div>
<div class="divTableCell">Empty Body OR HTTP Status 401 Unauthorized</div>
<div class="divTableCell">Returns delivery count for all delivery types</div>
</div>
</div>
</div>

<br/>
<h1>Server debug REST API documentation</h1>
<div class="divTable" style="border: 1px solid #000;" >
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableCell"><b>Method</b></div>
<div class="divTableCell"><b>URL</b></div>
<div class="divTableCell"><b>Example</b></div>
<div class="divTableCell"><b>Error</b></div>
<div class="divTableCell"><b>Description</b></div>
</div>


<div class="divTableRow">
<div class="divTableCell">GET</div>
<div class="divTableCell">/debug/health</div>
<div class="divTableCell">Returns server health<pre>{ "status": "UP" }</pre></div>
<div class="divTableCell">Server is on fire, send help <pre>{ "status": "DOWN" }</pre></div>
<div class="divTableCell">Displays server Health</div>
</div>

<div class="divTableRow">
<div class="divTableCell">GET</div>
<div class="divTableCell">/debug/trace</div>
<div class="divTableCell">JSON object table with last 100 HTTP requests</div>
<div class="divTableCell">Not applicable here</div>
<div class="divTableCell">Displays last 100 HTTP request (Limit can be raised if needed for debugging purposes)</div>
</div>

<div class="divTableRow">
<div class="divTableCell">GET</div>
<div class="divTableCell">/debug/mappings</div>
<div class="divTableCell">JSON List of server endpoints</div>
<div class="divTableCell">Not applicable here</div>
<div class="divTableCell">List all server endpoints</div>
</div>

<div class="divTableRow">
<div class="divTableCell">GET</div>
<div class="divTableCell">/debug/metrics</div>
<div class="divTableCell">JSON Object of server metrics</div>
<div class="divTableCell">Not applicable here</div>
<div class="divTableCell">Display server metrics</div>
</div>

<div class="divTableRow">
<div class="divTableCell">GET</div>
<div class="divTableCell">/debug/logfile</div>
<div class="divTableCell">Dump of server logs</div>
<div class="divTableCell">Not applicable here</div>
<div class="divTableCell">Display server logs</div>
</div>
</div>
</div>


</body>
</html>

